[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.2"
requests = "==2.31.0"
urllib3 = "==2.1.0"
python-dotenv = "==1.0.0"
pillow = "==10.1.0"
black = "==23.11.0"
flake8 = "==6.1.0"
isort = "==6.0.0b2"
flake8-annotations = "==3.0.1"

[dev-packages]

[requires]
python_version = "3.11"
